.logo-container {
  display: flex;
  margin: 3em auto;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
}
.icon-container {
  display: flex;
  width: 200px;
  background-color: rgb(129, 145, 158);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 70% 30% 60% 40% / 24% 68% 32% 76%;
  -webkit-box-shadow: 3px 3px 10px 3px #3d3d3d;
  -moz-box-shadow: 3px 3px 10px 3px #3d3d3d;
  box-shadow: 3px 3px 10px 3px #3d3d3d;
}
.title {
  color: aliceblue;
}
.icon {
  width: 90px;
  margin-top: 1em;
}
/*medias*/

@media (max-width: 768px) {
  .logo-container {
    margin-top: 3em;
  }
  .icon-container {
    width: 150px;
  }
  .icon {
    width: 50px;
  }
  .title {
    font-size: 0.9rem;
  }
}
